@font-face {
  font-family: 'Morally Serif';
  src: url('Morally Serif.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Georgia', serif;
  background-color: #f8f4f0;
  color: #3d2e26;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.p1 {
    line-height: 1.8; font-size: 1.25em; text-align: justify;
}

.main1 {
    margin-left: 250px; padding: 40px; max-width: 900px;
}

.h11 { 
    font-family: 'Morally Serif', serif; font-size: 2em; margin-bottom: 20px; text-align: center;
}

.ul1 {
    line-height: 1.8; font-size: 1.05em;
}

.footer1 {
    margin-left: 250px; padding: 20px; text-align: center; font-size: 0.9em; color: #a3907d;
}
main.content {
  margin-left: 230px;
  padding: 40px;
  flex: 1; /* ocupa o restante do espaço vertical */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.sidebar {
  width: 230px;
  background-color: #fffaf3;
  padding: 20px;
  height: 100vh;
  box-shadow: 2px 0 10px rgba(0,0,0,0.05);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  box-sizing: border-box;
}


.sidebar h2 {
  font-family: 'Morally Serif', serif;
  font-size: 1.8em;
  color: #3E2C23;
  margin-bottom: 40px;
  text-align: center;
  font-weight: normal;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li a {
  display: block;
  padding: 10px;
  color: #3d2e26;
  text-decoration: none;
  border-radius: 6px;
  margin-bottom: 8px;
  transition: background-color 0.3s;
}

.sidebar ul li a:hover {
  background-color: #eee3d6;
}

.content {
  margin-left: 230px;
  padding: 40px;
  flex-grow: 1;
}

.user-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px;
}

.user-menu {
  position: relative;
  cursor: pointer;
  background-color: #A68A64;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 600;
}

.user-menu .dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
  min-width: 160px;
  z-index: 10;
}

.user-menu .dropdown a {
  display: block;
  padding: 10px 20px;
  color: #3d2e26;
  text-decoration: none;
  transition: background 0.3s;
}

.user-menu .dropdown a:hover {
  background-color: #f0e8df;
}

.user-menu .dropdown.show {
  display: block;
}

.page-title h1 {
  font-family: 'Morally Serif', serif;
  font-size: 2.4em;
  margin-bottom: 10px;
  margin-top: -50px;
  font-weight: normal;
  text-align: center;
}

.page-title p {
  font-family: 'Georgia', serif;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}